button.vm-button(
    :disabled="disabled"
    :type="type"
    :class="{
        'is--primary': primary,
        'is--raised': raised,
        'is--icon': icon,
        'is--loading': loading
    }"
    @click="click"
)
    vm-loader(v-if="loading")
    vm-icon(v-if="icon") {{ icon }}
    
    .vm-button__label(v-else)
        slot
