.vm-switch(
    :class="{
        'is--tight': multiple && tight,
        'is--multiple': multiple
    }"
)
    .vm-switch__label(v-if="label") {{ label }}
    .vm-switch__options(ref="options")
        slot
    .vm-switch__message(v-if="message") {{ message }}
