.vm-switch(
    :class="{
        'is--margin': multiple && margin,
        'is--multiple': multiple,
        'is--uppercase': uppercase
    }"
)
    .vm-switch__label(v-if="label") {{ label }}
    .vm-switch__options(ref="options")
        slot
