.vm-snackbar {
    background: $snackbar-bg;
    color: $snackbar-color;

    .vm-button {
        color: $snackbar-button-text;

        &:hover {
            background: $snackbar-button;
        }
    }
}
