vm-input.vm-textarea(
    ref="input"
    :label="label"
    :box="box"
    :expanded="focused || !!inputValue"
    :class="{
        'vm-textarea--focused': focused,    
    }"
)
    textarea(
        ref="textarea"
        slot="main"
        :disabled="status === 'disabled'"
        :type="$_type"
        :name="name"
        :rows="rows"
        :placeholder="placeholder"
        :maxlength="$_maxlength === Infinity ? null : $_maxlength"
        :readonly="status === 'readonly'"
        :spellcheck="spellcheck"
        :autocomplete="autocomplete"
        :value="inputValue"
        :tabindex="status === 'readonly' ? -1 : undefined"
        @focus="onFocus"
        @blur="onBlur"
        @input="onInput"
        @keydown="drawBox"
    )
