@import 'theme-list/default';
@import './theme.css';

.vm-chip {
    box: horizontal middle;
    white-space: nowrap;
    border-radius: 28px;
    font-size: $text-small-1;
    padding-right: 4px;
    padding-left: 12px;
    height: 32px;
    max-width: calc(100% - 8px);
    margin: 2px 4px 2px 0;

    &__label {
        @apply --text-nowrap;
    }

    &__close {
        margin-left: 8px;

        i {
            font-size: 22px;
        }
    }

    .vm-chip__close {
        padding: 0 2px;
    }
}
