.vm-tabs
  .vm-tabs__header(
    :class="align && `is--${align}`"
  )
    slot(name="header-left")
    .vm-tabs__header-wrapper
      button.vm-tab(
        v-for="tab in tabs"
        type="button"
        :key="tab._uid"
        :disabled="tab.disabled"
        :class="[tab.headClass, { 'is--active': tab === activeTab }]"
        @click="tabClick(tab)"
      )
        span.vm-tab__label {{ tab.label }}
    slot(name="header-right")
  slot
