@import 'theme-list/default';
@import './theme.css';

.vm-radio {
    width: auto;
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 1em;
    padding: 6px 24px 6px 0;
    flex-shrink: 0;
    line-height: 20px;

    &__icon {
        size: 20px;
        position: relative;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        flex-shrink: 0;
        box-sizing: border-box;
        flex: 0 0 auto;

        &:after {
            position: absolute;
            left: 3px;
            top: 3px;
            border-radius: 50%;
            border-width: 5px;
            border-style: solid;
            border-color: inherit;

            .vm-radio.is--checked & {
                content: '';
            }
        }
    }

    &.is--focused &__icon {

        &:before {
            position: absolute;
            content: '';
            background: currentColor;
            opacity: 0.08;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            top: -10px;
            left: -10px;
        }
    }

    &__label {
        margin-left: 16px;
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: -1;
        opacity: 0;
    }
}
