.vm-tab {
  &.is--active {
    color: $primary;

    &:after {
      background: $primary;
    }

    .box-primary & {
      color: $primary-text;

      &:after {
        background: $primary-text;
      }
    }
  }
}
