.vm-toggle {

    &.is--checked {

        .vm-toggle__thumb {
            background: $primary-text-dark;

            &:after {
                background: $primary;
            }
        }
    }

    &__thumb {
        background: $default-divider;

        &:after {
            background: $grey-50;
        }
    }
}


    