@import 'theme-list/default';
@import './theme.css';

.vm-tab {
    position: relative;
    max-width: 264px;
    opacity: .6;
    height: 100%;
    cursor: pointer;
    padding: 0 24px;
    background: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    color: inherit;

    &.is--active {
        opacity: 1;

        &::after {
            display: block;
            content: '';
            position: absolute;
            z-index: 2;
            bottom: -1px;
            left: 0;
            height: 2px;
            width: 100%;
        }
    }

    &__label {
        overflow: hidden;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        user-select: none;
        @apply --text-nowrap;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.vm-tabs {
    width: 100%;
    position: relative;

    &__header {
        box: horizontal;
        justify-content: space-between;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: flex-end;

        & > div {
            box: horizontal;
            height: 48px;

            &:last-child {

                & > * {
                    align-self: center;
                }
            }
        }

        &.is--right {
            justify-content: flex-end;
        }

        &.is--center {
            justify-content: center;
        }

        &.is--justify {

            & > div {
                min-width: 100%;

                .vm-tab {
                    flex-grow: 1;
                    max-width: 100%;
                }
            }
        }
    }
}
