@import 'theme-list/default';
@import './theme.css';

.vm-modal {
    position: fixed 0 auto auto 0;
    box: vertical center;
    size: 100%;
    overflow: auto;
    z-index: 99;
    padding: 32px 0;
    background: rgba(0,0,0,.48);
    overflow: auto;
    font-size: 14px;
    pointer-events: all;

    * {
        pointer-events: all;
    }

    &__spacer {
        flex-grow: 1;
    }

    &__content {
        max-width: calc(100% - 32px);
        height: auto;
        border-radius: 2px;
        box-shadow: $shadow-4;
    }
}

.vm-dialog {
    
    &__title {
        padding: 16px;
    }

    &__text {
        padding: 16px;
    }
}
