.vm-button {
    background: transparent;
    color: inherit;
    @mixin action;

    &.is--primary {

        &:not([disabled]) {
            color: $primary;

            &.is--raised {
                background: $primary;
                color: $primary-text;

                .vm-loader__spin {
                    border-color: $primary-divider;
                    border-top-color: $primary-text-dark;
                }
            }
        }
    }


    &:not(.is--icon):after {
        content: '';
    }

    &.is--raised[disabled] {
        background: $default-bg-dark;
    }

    &.is--icon {
        color: $default-text-light;

        &:hover {
            color: $primary;
        }

        .box-primary & {
            color: $primary-text;

            &:hover {
                color: $primary-text-light;
            }
        }
    }
}
