@import '../mixins';

.grow { 
    flex-grow: 1; 
}

.lighter { 
    opacity: .64; 
}

.thin { 
    font-weight: 300; 
}

.medium { 
    font-weight: 500; 
}

.bold { 
    font-weight: 700; 
}

.italic { 
    font-style: italic; 
}

.underline { 
    font-style: underline; 
}

.capitalize {
    text-transform: capitalize;
}

.disabled { 
    opacity: .64;
    cursor: default;
    pointer-events: none;
    will-change: opacity;
}

.readonly {
    opacity: .88;
    cursor: default;
    will-change: opacity;
}

.nowrap {
    flex-wrap: nowrap;
    @apply --text-nowrap;
}

.action {
    @mixin action;

    &:not(disabled):not(readonly):after {
        content: '';
    }
}
