* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: inherit;
    }
}

html {
    size: 100%;
    line-height: 20px;
    font-family: Roboto;
}

body {
    size: 100%;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    --webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    outline: none;
}

audio,
img,
svg,
object,
embed,
canvas,
video,
iframe {
    border: 0;
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    height: auto;
}

button {
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

[tabindex]:focus {
    outline-width: 2px;
    outline-style: solid;
}
