.vm-modal(
    @click.self="clickOnOverlay"
)
    .vm-modal__spacer
    .vm-modal__content
        .vm-modal__header(v-if="$slots.header")
        slot
        .vm-modal__footer(v-if="$slots.footer")
    .vm-modal__spacer
