@import 'theme-list/default';
@import 'mixins';
@import './theme.css';

$select-toolbar-height: 46px;

.vm-select {

  &__arrow {
    
    .vm-icon {
      font-size: 28px;
    }
  }


  &:not(.is--multiple) {
    
    .vm-option {

       &.is--selected {
        font-weight: 500;
      }
    }
  }

  .vm-option {
    box: horizontal middle;
    padding: 12px 16px;
    min-height: 44px;

    &:not([disabled]):after {
       content: '';
    }

    .vm-checkbox__label {
      margin-left: 24px;
    }
  }


  &__toolbar {
    box: horizontal middle;
    position: relative;
    flex: 0 0 auto;

    .vm-input {
      margin: 0;
      padding: 0;
    }

    .vm-input__right {
      padding-right: 8px;
    }

    + .vm-select__options {
      height: calc(100% - $select-toolbar-height);
    }

    input {
      padding-left: 16px;
      min-height: $select-toolbar-height;
    }
  }

  &__options {
    padding: 6px 0;
    overflow: auto;
    height: 100%;

    &:not(.is--multiline) {

      .vm-option__label,
      .vm-checkbox__label {
        @apply --text-nowrap;
      }
    }

    &-empty {
      box: vertical center middle;
      height: 48px;
    }
  }

  &__footer {
    padding: 8px;
    box: horizontal right;
  }

  &.is--multiple {
    
    .vm-input__main {

      & > * {
        margin: 0 4px 4px 0;
      }
    }

    .vm-chip + input {
      margin-left: 6px;
    }

    .vm-input {

      &.is--active {
        
        input {
          min-width: 104px;
        }
      }
    }

    .vm-input__main {
      margin-top: 4px;
    }

    &.is--dirty {
      
      & > .vm-input:not(.is--active) {
        
        input {
          max-width: 0;
          margin: 0;
        }
      }
    }
  }

  &.is--opened {
    
  }

  .vm-input {

    &.is--inline {

      input {
        cursor: pointer;
      }
    }
  }
}
